# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Next.js
/.next/
/out/
next-env.d.ts

# TypeScript
*.tsbuildinfo

# Vercel (in case anyone runs `vercel` locally)
.vercel

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store

# Editor
*.swp
*.swo
.venv
